@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Support toggling via .dark class (when using Tailwind's class strategy) */

/* .dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer components {
  .container-custom {
    /* @apply max-w-[1320px] mx-auto md:px-20 px-6; */
    @apply max-w-[1320px] mx-auto;
  }
}
#my-range-slider .range-slider__range {
  background: #ffbf00;
}

#my-range-slider .range-slider__thumb {
  background: #ffbf00;
}
